body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffd6e8, #e6d9ff);
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    width: 350px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1 {
    color: #ff4f8b;
}

#question {
    font-size: 20px;
    margin: 20px 0;
}

#progress {
    color: #777;
}

button {
    width: 90%;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    background: #ff8fc7;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ff4f8b;
    transform: scale(1.05);
}
/* Floating hearts */
.heart {
    position: fixed;
    bottom: -20px;
    font-size: 25px;
    animation: floatUp 5s linear infinite;
    pointer-events: none;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}


/* Background particles */
.particle {
    position: fixed;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    opacity: 0.7;
    animation: moveParticle 8s infinite;
}

@keyframes moveParticle {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
    }
}
.emoji {
    font-size: 35px;
    animation: bounce 1.5s infinite;
}

.final-text {
    color: #ff4f8b;
    font-size: 18px;
}

@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }
}